@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/jquery-ui.css" rel="stylesheet" />

<div class="well-sm">
    <h1 style="text-align: right">INF 272 Samples | Examples.</h1>
</div>

<div id="accordion">
    <h4 style="background-color: lightgreen;"><strong>Visual Studio</strong></h4>
    <div>
        <span class="glyphicon glyphicon-link"></span>
        <a href="https://learn.microsoft.com/en-us/visualstudio/get-started/visual-studio-ide?view=vs-2022">The Visual Studio IDE.</a>
        <br />
        <span class="glyphicon glyphicon-link"></span>
        <a href="https://learn.microsoft.com/en-us/visualstudio/windows/?view=vs-2022" target="_blank">Visual Studio documentation.</a>
        <br />
        <span class="glyphicon glyphicon-link"></span>
        <a href="https://learn.microsoft.com/en-us/dotnet/csharp/" target="_blank">C# documentation.</a>
        <br />
        <span class="glyphicon glyphicon-link"></span>
        <a href="https://learn.microsoft.com/en-us/visualstudio/version-control/?view=vs-2022" target="_blank">Visual Studio version control.</a>
    </div>

    <h4 style="background-color: lightgreen;"><strong>ASP.NET MVC</strong></h4>
    <div>
        <span class="glyphicon glyphicon-link"></span>
        <a href="https://learn.microsoft.com/en-us/aspnet/mvc/overview/getting-started/introduction/getting-started">Getting started with ASP.NET MVC</a>
        <br />
        <span class="glyphicon glyphicon-link"></span>
        <a href="https://dotnettutorials.net/course/asp-dot-net-mvc-tutorials/" target="_blank">ASP.NET MVC Tutorial</a>
        <br />
        <span class="glyphicon glyphicon-link"></span>
        <a href="https://www.tutorialspoint.com/asp.net_mvc/index.htm" target="_blank">ASP.NET MVC Tutorial</a>
    </div>

    <h4 style="background-color: lightgreen;"><strong>HTML & CSS</strong></h4>
    <div>
        <span class="glyphicon glyphicon-link"></span>
        <a href="https://www.codecademy.com/learn/learn-html">Learn HTML</a>
        <br />
        <span class="glyphicon glyphicon-link"></span>
        <a href="https://www.w3schools.com/html/" target="_blank">HTML Tutorial</a>
        <br />
        <span class="glyphicon glyphicon-link"></span>
        <a href="https://www.codecademy.com/learn/learn-css" target="_blank">Learn CSS</a>
        <br />
        <span class="glyphicon glyphicon-link"></span>
        <a href="https://www.tutorialspoint.com/css/index.htm" target="_blank">CSS Tutorial</a>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $("#accordion").accordion({
            animate: 500,
            active: false,
            collapsible: true,
            event: "click",
            heightStyle: "content"
        });
    </script>
}